*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body , html {
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: white;
    
}
/* themes color */
:root{
    --color-primery:rgba(245, 203, 66, 0.9); 
        
}
/* themes backgorund color */

.theme_color{
    background-color: var(--color-primery);
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    
}

/* Header :logo contact address cart and seach */
header {
    background-color: rgba(0, 0, 0, 0.8);   
    position: relative;
    display: flex;
    align-items: center;
}
#header_item{
    
    margin: 15px 0px;
    display: flex;
    justify-content: space-around;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
#menu{
    font-size: 25px;
    display: none;
    color: var(--color-primery);
}
#item{
    display: flex;
    justify-content: space-evenly;
}
#add_logo , #add_call{
    display: flex;
    align-items: center;
    justify-content: center;   
    font-size: 20px;     
}
#cart_search{
    display: flex;
    align-self: center; 
    justify-content: center;
    font-size: 20px;
    color: var(--color-primery);
   
}
#cart_search a{    
    color: var(--color-primery);   
}

/* mouse :hover event */
#add_call:hover{
color: var(--color-primery);
background-color: white;
    
}

#add_logo:hover{
    color: var(--color-primery);
    background-color: white;
        
    }
#cart_search a:hover{    
    color:white;
      
}
#contact:hover{
    color: var(--color-primery);
}
#add:hover{
    color: var(--color-primery);
}

/* Navbar */

#nav_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  
}

#nav_item li{
    display: flex;
}
nav a{
   
    color: black;
    font-size: 1.5em;
    font-weight: bold;
  }
  nav a:hover{
    color: var(--color-primery);
  }

  /* welcome_containt-1  */
  #welcome_content-1{
    width: 100%;
    height: 60vh;
    background-image: url(Image/W-1.jpg),linear-gradient(yellow , orange);
       background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

  }
  #icons{
    font-size: 60px;
    color: var(--color-primery);
    margin-top: 5% 0px;
    
  }
  #welcome_content-1 h1{
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5% 0px;
    margin: 2% 0px;
    
  }
  .btn{
    background-color: var(--color-primery);
    padding: 5px;
    border-radius: 7px;
    margin: 10px 5px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2% 0px;
  }
  span{
    margin: 5px;
  }
  /* welcome_content-1 :hover */
  .btn:hover{
    background-color: var(--color-primery);
    color:white;
  }
  /* welcome_content-2 : Left */
  #welcome_content-2{    
    width: 100%;
    margin: 20px 0px;
    background-color: mintcream;
    color: black;
    display: flex;     

  }
  #welcome_content-2 .row
    {    
    display: flex;
    height: 100%;  
    
  }
  .content_left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  .content_left h1{
    margin: 20px 0px;
    font-size: 4em;
  }
  .content_left h5{
    margin: 20px 0px;
    font-size: 1.5em;
    color: rgb(65, 67, 67);
  }
  #content_left_btn{
   width: 27%;   
  }
  /* welcome_content-2 : right */
  #card {
    border: 1px solid lightgray;
    background-color: var(--color-primery);
    width: 60%;
    height: 100%;
    box-shadow: 3px 3px 0px rgba(255, 166, 0, 0.162);
    
  }
  #card img{
    width: 100%;
    height: 75%;
    position: relative;
    top: -30px;
  }
  #card h3{ 
  text-align: center;
  font-size: bold;
  }
  .btn-black{
    padding: 7px;
    border-radius: 7px;
    border: none;
    color: var(--color-primery);
    font-weight: bold;
    margin: 5% 28%;
    background-color:black;
  }
  /* Services-top */
  .services{
     background-image: url(Image/S-1.jpg);
    width: 100%;
    /* height: 40vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2;
      
  }
  .services::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
 
  }

  .services .container{
    
    height: 100%;
  }
  .iconsize{
    font-size: 60px;
    color: var(--color-primery);    
  }

  #services-top{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    
  }
  .serv_alignment{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.serv_alignment h1{
  margin: 10px 0px;
  font-weight: bold;

}
.serv_alignment h5{
font-weight: bold;
margin: 1% 15%;
}
/* Services-bottom */
#Services-bottom{
  background-color: black;
  width: 100%;
  padding: 20px 10px;
  text-align: center;

}
#Services-bottom h1{
  font-size: 4em;
  font-weight: bold;
  margin: 10px 0px;
}
/* Gallery */
#service_gallery{
  margin: 10% 0%;
  color: black;
}
.galler_img img{
  
  width: 100%;
  height: 100%;
  padding-top: 20px;

}

/* News / Tops & Guide */
#news{
  background-color: rgba(211, 211, 211, 0.717);

}
#news_heading{
  text-align: center;
  color: black;
  
}
#news_heading h1{
  
  margin-top: 2%;
  margin-bottom: 1%;
  font-weight: bold;
}
#news_gallery{
  padding-bottom: 5px;
}

#news_gallery img {
  height: 70%;
  width: 100%;

}
.gallery_title{
  display: flex;
  position: relative;  
top: -10%;
left: 50%;
padding: 5px;
width: 50%;
background-color: white;
justify-content: space-between;
font-size: 2em;
background-color: var(--color-primery);
}
.event_date{
  /* border: 1px solid gray; */
  background-color: white;
  width: 50%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -5%;
  
}
.event_date i {
color: var(--color-primery);
font-weight: bold;
}
#news_gallery h5 {
  text-align: left;

}
/* testimonial_client */
#testimonial_client{
  color: black;
  margin: 5%;

}
#testimonial_client h1{
  margin: 30px 0px;

}
.content{
  border: 2px solid var(--color-primery);
  padding: 5% 10%;
  font-size: 1.5em;
  display: flex;
}
#quotes{
  position: relative;
  top: -20px;
  font-size: 50px;
  color: var(--color-primery);
  padding: 0px 10px;
}
.client{
  border: 2px solid lightgray;
  margin: 2px;
  font-size: 2em;
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;  
  height: 100px;
  width: 30%;
}
/* career */
#career{
  background-color: black;
}

#career_content{
  margin: 5% 0px;
  display: flex;
}
.team_icon{
  font-size: 50px;
  color: var(--color-primery);
  padding: 0px 10px;
  position: relative;
  top: -10px;
  
}
/* Footer */
footer{
position: relative;
width: 100%;
  background-image: url('Image/painter.jpg');
  background-size: cover;
  z-index: -2;
}
footer hr{
  color: var(--color-primery);

}
#footer_contect{
  padding: 5% 0%;
}
#footer_contect h1 , h4 {
padding-top: 1%;
padding-right: 10%;
}
footer::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
  
}
input{
  background: none;
  border: 1px solid lightgray;
  width: 60%;
  height: 30px;
  margin-top: 2%;
  padding: 10px;
  
}
.email i{
  font-size: 20px;
  padding: 5px;
  position: relative;
  bottom: -3px;
  background-color: var(--color-primery);
}
#social_media{
  width: 20%;
  padding: 5px 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
 color: black;
  font-size: 20px;
  background-color: var(--color-primery);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  bottom: -25px;
}
#copyright{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
}
